<ul class="list-group list-group-horizontal">
  @foreach (var resource in MainFactory.Resources)
  {
	  <li class="list-group-item">
			@resource.Key:@resource.Value.ToString(Constants.DefaultDisplayPrecision)
	  </li>
  }
</ul>

@foreach (var generator in MainFactory.ResourceGenerators)
{
	<div class="card col-md-6 col-lg-4">
		<div class="card-header">
			Lvl @generator.UpgradeAmountLevel @generator.ResourceType
		</div>
		<div class="card-body">
			+@generator.GenerationAmount.ToString(Constants.DefaultDisplayPrecision)
			every @generator.GenerationTime s
		</div>
		<div class="card-body">
			<button class="btn btn-primary" @onclick="() => Upgrade(generator)" disabled="@(!CanUpgrade(generator))">Upgrade (@generator.GetUpgradeCostString())</button>
		</div>
	</div>
}