@using IdleFactory.Data.Main
<ul class="list-group list-group-horizontal">
	@foreach (var resource in MainFactory.Resources)
	{
		<li class="list-group-item">
			@resource.Key:@resource.Value.ToString(Constants.DefaultDisplayPrecision)
		</li>
	}
</ul>

@foreach (var generator in MainFactory.ResourceGenerators)
{
	<div class="card col-md-6 col-lg-4">
		<div class="card-header">
			@if (generator.ConvertFrom != ResourceType.Undefined)
			{
				<input type="checkbox" @bind="generator.IsEnabled" autocomplete="off">
			}
			Lvl @generator.UpgradeAmountLevel @generator.ResourceType
			@if (IsFocusAvailable)
			{
				<div class="btn-group-toggle" data-toggle="buttons">
					<label class="btn btn-secondary active">
						<input type="checkbox" checked="@generator.IsFocused" @onchange="() => ToggleFocus(generator)" autocomplete="off"> Focused
					</label>
				</div>
			}
		</div>
		<div class="card-body">
			@if (generator.ConvertFrom == ResourceType.Undefined)
			{
				<span>+@generator.GenerationAmount.ToString(Constants.DefaultDisplayPrecision) @generator.ResourceType</span>
			}
			else
			{
				<span>Convert @((generator.GenerationAmount / generator.ConversionFactor).ToString(Constants.DefaultDisplayPrecision)) @generator.ConvertFrom to @generator.GenerationAmount.ToString(Constants.DefaultDisplayPrecision) @generator.ResourceType</span>
			}

			every @generator.GenerationTime.ToString("G2") s
		</div>
		<div class="card-body">
			<button class="btn btn-primary" @onclick="() => Upgrade(generator)" disabled="@(!CanUpgrade(generator))">Upgrade (@generator.GetUpgradeCostString())</button>
		</div>
	</div>
}
<ul class="list-group list-group-horizontal">
	@foreach (var unlock in MainFactory.Unlocks)
	{
		<li class="list-group-item">
			@unlock
		</li>
	}
</ul>

<div>
	@foreach (var visibleUnlock in GetVisibleUnlocks())
	{
		<button class="btn btn-primary" @onclick="() => Unlock(visibleUnlock.Unlock)" disabled="@(!visibleUnlock.CanBuy)">@visibleUnlock.Unlock (@visibleUnlock.CostString)</button>
	}
</div>
@if (AllowSkip)
{
	<button class="btn btn-primary" @onclick="() => MainFactory.Add(ResourceType.Red, 2000)">Skip</button>
}